@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button($hoverScale: 1.1) {
	cursor: pointer;
	transition: transform 0.2s;
	&:hover {
		transform: scale($hoverScale);
	}
	&:active {
		transform: scale(1);
	}
	@media (max-width: 767px){
		&:hover, &:active {
			transform: none;
		}
	}
}