@use "@/styles/colors.scss";
@use "@/styles/mixins.scss";

$buttonHeight: 36px;

.buttonContainer {
	width: 100%;
	flex-shrink: 0;
	gap: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	@media (max-width: 767px){
		flex-direction: column;
		justify-content: flex-start;
		gap: 0px;
	}
}

.button {
	position: relative;
	height: $buttonHeight;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.2s;
	&:hover {
		transform: scale(1.05);
	}
	&:active {
		transform: scale(1);
	}
	@media (max-width: 767px){
		width: 100%;
		height: 50px;
		border-radius: 0px;
		&:hover {
			transform: none;
		}
		&:active {
			transform: none;
		}
	}
}

.classifyButton {
	border: 1px solid colors.$division;
	display: flex;
	@media (max-width: 767px){
		border: none;
		border-top: 1px solid colors.$division;
		&:first-child {
			position: relative;
			border-top: none;
			&::before {
				content: "";
				display: block;
				position: absolute;
				width: 80%;
				height: 0px;
				top: 0px;
				left: 10%;
				border-top: 2px solid colors.$inactive;
			}
		}
	}
	.key {
		@include mixins.center;
		width: $buttonHeight;
		height: 100%;
		padding-top: 5px;
		box-sizing: border-box;

		background-color: colors.$blue;
		color: white;
		border-radius: 5px 0px 10px 5px;
		font-family: "Prismic Main Font";
		font-size: 20px;
		@media (max-width: 767px){
			display: none;
		}
	}

	.label {
		@include mixins.center;
		height: 100%;
		padding: 0px 15px;
		box-sizing: border-box;

		background-color: white;
		color: colors.$black;
		font-family: "Prismic Main Font";
		font-size: 16px;
		@media (max-width: 767px){
			width: 100%;
			font-size: 20px;
			padding-top: 5px;
		}
	}
}

.discardButton {
	@include mixins.center;
	width: 160px;
	padding: 0px 15px;
	gap: 5px;
	flex-direction: row;

	background-color: colors.$red;
	color: white;
	font-family: "Prismic Main Font";
	&.holding {
		
	}
	img {
		width: 24px;
		height: 24px;
	}
	p {
		color: inherit;
		margin-bottom: -5px;
	}
	@media (max-width: 767px){
		width: 100%;
	}
}

.holding::before {
	content: "";
	display: block;
	position: absolute;
	width: calc(100% - 20px);
	height: calc(100% - 10px);
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-image:   linear-gradient(to right, white 100%, white 100%),
						linear-gradient(to bottom, white 100%, white 100%),
						linear-gradient(to right, white 100%, white 100%),
						linear-gradient(to bottom, white 100%, white 100%);
	background-size: 50px 2px, 20px 20px, 20px 2px, 2px 20px;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	animation: 1s linear 1 forwards fillBorder;
}

@keyframes fillBorder {
	from{
		background-size: 0px 2px, 2px 0px, 0px 2px, 2px 0px;
	}
	25%{
		background-size: 100% 2px, 2px 0px, 0px 2px, 2px 0px;
	}
	50%{
		background-size: 100% 2px, 2px 100%, 0px 2px, 2px 0px;
	}
	75%{
		background-size: 100% 2px, 2px 100%, 100% 2px, 2px 0px;
	}
	to{
		background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
	}
}