@use "@/styles/colors.scss";
@use "@/styles/mixins.scss";

.container {
	@include mixins.center;
	position: absolute;
	--width: 800px;
	--height: 500px;
	margin: 0 calc(50vw - var(--width)/2);
	top: max(calc(50vh - var(--height)/2), calc(var(--header-height) + 30px));
	width: var(--width);
	height: calc(100vh - var(--header-height) - 140px);
	max-height: var(--height);
	flex-direction: column;
	gap: 5px;
	border: 3px dashed colors.$inactive;
	border-radius: 20px;
	@media (max-width: 1000px){
		--width: 80%;
	}
	@media (max-width: 767px){
		--height: 400px;
	}
	&:not(.inactive) {
		cursor: pointer;
		&:hover {
			border: 3px solid colors.$secondary;
		}
	}
}