@use "@/styles/colors.scss";
@use "@/styles/floatButton.scss";

.nextButton {
	@include floatButton.float-bottom;
	@include floatButton.float-button;
	color: white;
	.background {
		@include floatButton.round-button;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}
	.caption {
		transform: translateX(78px);
		transition: transform 0.2s;
	}
	&.inactive {
		.background {
			background: colors.$inactive;
		}
	}
	&:hover {
		.caption {
			transform: translateX(0px);
		}
	}
	@media (max-width: 767px){
		width: 100%;
		height: 50px;
		right: 0px;
		bottom: 0px;
		padding-right: 5px;
		gap: 10px;
		.background {
			border-radius: 0;
		}
		&.inactive .caption {
			color: inherit;
		}
		.caption {
			position: static;
			color: white;
			font-size: 20px;
			z-index: auto;
			transform: none;
		}
		svg {
			transform: scale(0.8);
		}
		&:hover {
			transform: none;
			.caption {
				transform: none;
			}
		}
	}
}