@use "@/styles/mixins.scss";
@use "@/styles/colors.scss";

@mixin icon-element {
	content: "";
	position: absolute;
	display: block;
	top: 20px;
	width: 22px;
	height: 4px;
	background-color: black;
	border-radius: 2px;
	transition: transform 0.3s;
}

.outerContainer {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 15;
	:global .backdrop {
		transition: opacity 0.2s linear, visibility 0.2s linear;
	}
	.viewerContainer {
		transition: transform 0.3s;
	}
}

.outerContainer.hidden {
	pointer-events: none;
	:global .backdrop {
		opacity: 0;
		visibility: hidden;
	}
	.viewerContainer {
		transform: translateX(100%);
	}
}

.viewerContainer {
	position: absolute;
	top: 0;
	right: 0;
	width: 490px;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	background-color: white;
	border-radius: 20px 0px 0px 20px;
	overflow: hidden;
	@media (max-width: 767px){
		width: 310px;
	}
}

.list {
	width: 100%;
	height: calc(100% - 60px);
	overflow-y: scroll;
	:global .vglist-group {
		gap: 10px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.header {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	h3 {
		font-family: "Prismic Main Font", sans-serif;
		font-size: 24px;
		&.inactive {
			color: colors.$inactive;
		}
		@media (max-width: 767px){
			font-size: 20px;
		}
	}
	.count {
		display: inline-block;
		margin-left: 10px;
		font-size: 0.6em;
		font-weight: normal;
		background-color: colors.$secondary;
		padding: 4px 10px 0px;
		border-radius: 12px;
		color: white;
	}
}

.foldIcon {
	width: 40px;
	height: 40px;
	margin-right: 5px;
	position: relative;
	&::before {
		@include icon-element;
		left: 0;
		transform: translateY(7px) rotate(45deg);
		transform-origin: 20px 2px;
	}
	&::after {
		@include icon-element;
		right: 0;
		transform: translateY(7px) rotate(-45deg);
		transform-origin: 2px 2px;
	}
	&.opened {
		&::before {
			transform: translateY(-7px) rotate(-45deg);
		}
		&::after {
			transform: translateY(-7px) rotate(45deg);
		}
	}
	@media (max-width: 767px){
		transform: scale(0.8);
	}
}

.addButton {
	@include mixins.center;
	position: absolute;
	left: 0;
	bottom: 0;
	background: colors.$maingrad;
	width: 100%;
	height: 60px;
	gap: 20px;
	color: white;
	cursor: pointer;
	p {
		color: white;
		font-size: 20px;
		margin-bottom: -8px;
	}
}

.addIcon {
	width: 30px;
	height: 30px;
	fill: white;
}