@use "@/styles/mixins.scss";
@use "@/styles/colors.scss";

.item {
	width: 70px;
	height: 70px;
	border-radius:5px;
}

.image {
	object-fit: cover;
	object-position: center top;
	transition: transform 0.3s;
	&:hover {
		transform: scale(1.05);
	}
}

.loading {
	background-color: colors.$inactive;
	@include mixins.center;
}

.error {
	background-color: colors.$red;
	@include mixins.center;
	:global .icon-svg {
		fill: white;
	}
}

.spinner {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

	@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}