$maingrad: var(--main-gradient, linear-gradient(90deg, #4A95FD, #F998D2));
$secondary: var(--secondary-color, #AD97E5);
$inactive: var(--inactive-color, #A0A3A7);
$inactive2: var(--inactive2-color, #E0E3E7);
$division: var(--division-color, #F0F0F0);