@import "./fonts.css";

:root {
	--main-gradient: linear-gradient(90deg, #4A95FD, #F998D2);
	--secondary-color: #AD97E5;
	--inactive-color: #A0A3A7;
	--inactive2-color: #E0E3E7;
	--division-color: #F0F0F0;
}

html, body {
	margin: 0;
}
p {
	font-family: "Prismic Main Font", sans-serif;
	font-size: 16px;
	margin: 0px;
	margin-bottom: 0.25em;
}
a {
	color: inherit;
	text-decoration: none;
}

.grad-border {
	background-image: linear-gradient(90deg, #fff, #fff), var(--main-gradient);
	border-style: solid;
	border-color: transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
}